body {
    background-color: #e1e4ed;
    font-family: "Verdana";
    font-size: 12px;
}

h1 {
    text-align: center;
    font-size: 1.6em;
}

table {
    border: 1px solid #b0b2a3;
    padding: 0px;
    border-spacing: 0;
    background-color: #ffffff;
}

tr:hover td {
    background-color: #ffffcc;
}

td, th {
    width: 150px;
    height: 30px;
}

thead tr {
    display: block;
    background-color: #494949
}

thead tr th {
    color: #fafaf8;
    font-weight: normal;
}

tbody {
    height: 400px;
    overflow: auto;
    display: block;
}

tbody tr td {
    text-align: center;
}

tbody tr.alternate {
    background-color: #e0e0e0;
}
